version: "3.9"

services:

  oracle:
    image: gvenzl/oracle-xe:21-slim
    container_name: oracle-db
    environment:
      ORACLE_PASSWORD: admin
      APP_USER: proyecto
      APP_USER_PASSWORD: proyecto123
    ports:
      - "1521:1521"
    volumes:
      - oracle_data:/opt/oracle/oradata
    healthcheck:
      test: ["CMD", "bash", "-c", "echo 'SELECT 1 FROM dual;' | sqlplus -S proyecto/proyecto123@localhost/XEPDB1"]
      interval: 20s
      timeout: 10s
      retries: 10

  backend:
    build: ./backend
    container_name: backend-app
    environment:
      SPRING_DATASOURCE_URL: jdbc:oracle:thin:@oracle-db:1521/XEPDB1
      SPRING_DATASOURCE_USERNAME: proyecto
      SPRING_DATASOURCE_PASSWORD: proyecto123
    depends_on:
      oracle:
        condition: service_healthy
    ports:
      - "8080:8080"

  frontend:
    build: ./frontend
    container_name: frontend-app
    depends_on:
      - backend
    ports:
      - "4200:80"

  sonar:
    image: sonarqube:lts-community
    container_name: sonar
    ports:
      - "9000:9000"
    environment:
      SONAR_ES_BOOTSTRAP_CHECKS_DISABLE: "true"
    volumes:
      - sonarqube_data:/opt/sonarqube/data
      - sonarqube_extensions:/opt/sonarqube/extensions
      - sonarqube_logs:/opt/sonarqube/logs

volumes:
  oracle_data:
  sonarqube_data:
  sonarqube_extensions:
  sonarqube_logs:
