.contenedor {
  padding: 20px;
  max-width: 400px;
  margin: auto;
}

label {
  display: block;
  margin-top: 15px;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
}

.btnGuardar {
  margin-top: 20px;
  background: #007bff;
  color: white;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 6px;
}

.mensaje {
  margin-top: 12px;
  font-weight: bold;
}
