.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f1f1f1;
}

.card {
  background: white;
  padding: 30px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
}

.titulo {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn {
  width: 100%;
  padding: 10px;
  background: #0077ff;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background: #005fcc;
}

.error-msg {
  background: #ffdddd;
  color: #a30000;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  text-align: center;
}
