.contenedor {
  padding: 20px;
}

h2 {
  margin-bottom: 15px;
}

.tabla {
  width: 100%;
  border-collapse: collapse;
}

.tabla th, .tabla td {
  border: 1px solid #ddd;
  padding: 10px;
}

.btnEliminar {
  background: #d9534f;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.btnEliminar:hover {
  background: #b52b27;
}
